doctype
html
    head
        title #{title} &mdash; classy
        link(rel='stylesheet' href='/static/css/tailwind.css')
        link(rel='apple-touch-icon' sizes='180x180' href='/static/icons/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/static/icons/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/static/icons/favicon-16x16.png')
        link(rel='manifest' href='/static/icons/site.webmanifest')
        link(rel='mask-icon' href='/static/icons/safari-pinned-tab.svg' color='#d9415f')
        link(rel='shortcut icon' href='/static/icons/favicon.ico')
        meta(name='apple-mobile-web-app-title' content='classy')
        meta(name='application-name' content='classy')
        meta(name='msapplication-TileColor' content='#d9415f')
        meta(name='msapplication-config' content='/static/icons/browserconfig.xml')
        meta(name='theme-color' content='#d9415f')
        script(src="/static/js/theme-change.js")
    body.select-none
        include navbar.pug
        block content